body {
  background-color: #69adb5;
  text-align: center;
  color: #1b2b3a;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 14px;
}

h1{
  font-size: 70px;
  font-family: 'Indie Flower', cursive;
}

.icon {
  width: 100px;
  vertical-align: bottom;
}

.intro {
  font-family: 'Handlee', cursive;
  font-size: 25px;
  color: black;
  letter-spacing: .15em;
  width: 70%;
  margin: auto;
  margin-top: -10px;
  margin-bottom: 40px;
}

main {
  width: 65%;
  margin: auto;
  border: 6px solid #1a91a1;
  padding: 30px;
}

button {
  color: #1b2b3a;
}

.shorten-url {
  margin-bottom: 40px;
}

.center {
  height: 36px;
  margin: auto;
  margin: 10px 0;
}

#url-input {
  width: 72%;
  margin-right: 1%;
}

 #shorten-link {
   min-width: 140px;
   margin: 15px;
 }

 #shorten-link:focus {
   outline: none;
 }

#create-folder, #shorten-link {
  font-size: 17px;
  height: 37.5px;
  border: none;
  background-color: #1a91a1;
}

#create-folder {
  width: 15%;
}

#create-folder:focus {
  outline: none;
}

#create-folder:hover, #shorten-link:hover {
  background-color: #edc350;
}

.existing-folders {
  padding-top: 30px;
  text-align: left
}

h2 {
  margin: 10px 0;
  text-align: center
}

.create-first {
  font-size: 20px;
  padding: 5px;
}

#select-folder {
  width: 150px;
}

#url-input, #select-folder {
  height: 32px;
    margin: 10px;
}


#folder-name, #url-input, #select-folder {

  padding-left: 20px;
  font-size: 17px;
}

#folder-name {
  height: 30px;
  width: 50%;
  margin-right: 1%;
}

#folder-name:focus, #url-input:focus, #select-folder:focus {
  outline: 4px solid #edc350;
}

.existing-folders {
  margin-top: 30px;
}

/*folder styling*/

.folders-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 10px;
  min-width: 60%;
  min-height: 36px;
  border: 2px solid #edc350;
  border-radius: 10px;
}


.card:hover {
  background-color: #edc350;
}

.card h3 {
  margin: 8px 15px;
  font-family: 'Handlee', cursive;
  letter-spacing: .15em;
  font-size: 19px;
}

.selected {
  background-color: #edc350;
}

/*LINKS*/

.shortened-url {
  font-size: 20px;
}

.link-list {
  padding-left: 20px;
}

.linkz {
  padding: 0 15px;
  overflow: hidden;
}

.link {
  padding-right: 10px;
}

.sort {
  padding-left: 20px;
}
